$fontePrincipal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Esquema de Cores
$corFundo: #dfe6e9;
$corPrimary: #00cec9;
$corSecondary: #81ecec;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;